---
const year = new Date().getFullYear();
---

<footer>
  <p>
    © {year} - <a href="https://www.youtube.com/watch?v=kLKEZBI3_gU"
      >Made in France</a
    >
  </p>
</footer>
<style lang="scss">
  @import "../../styles/variables.scss";
  footer {
    margin-top: auto;
    text-align: center;
    color: $primary-black;

    p {
      font-size: 1.2rem;
      a {
        text-decoration: underline;
        color: inherit;
      }
    }
  }
</style>
