---
import Logo from "../../assets/logo-recipe-forge.svg";
import "./Header.scss";
---

<header class="header-g">
  <a href="/" class="header-link">
    <img src={Logo.src} alt="Logo Recipe Forge" class="header-img" />
    <h1>Recipe Forge</h1>
  </a>
</header>
