.header-g {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-link img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.header-link h1 {
  margin: 0;
  color: orangered;
}

.header-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
